@import url("https://fonts.googleapis.com/css?family=Aclonica|Days+One|Orbitron:400,500,600,700,800,900|Russo+One|Exo:400,500,600,700,800,900&display=swap");
* {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: Aclonica, 'Days One', Orbitron, sans-serif;
}

textarea {
  resize: none;
}

header {
  background-color: #454545;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 0.5rem;
  border-bottom: 0.5rem solid whitesmoke;
}

header nav a {
  font-size: 2rem;
  font-weight: 600;
  color: #fefefe;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

section {
  padding-top: 1.6rem;
}

#intro {
  color: white;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.439);
  background-image: url(../img/854376.jpg);
  background-size: cover;
  height: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 10rem 0 10rem 0;
  z-index: 0;
}

#intro .container {
  grid-column: 1/-1;
  text-align: left;
  padding: 1rem;
  padding-left: 3rem;
}

#contact {
  background-color: #454545;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h3 {
  color: white;
  font-size: x-large;
}

.contact .container {
  display: -ms-grid;
  display: grid;
  width: 50%;
}

.contact .container > * {
  margin: 1rem;
  padding: 0.5rem;
}

.container {
  position: relative;
  width: 50%;
}

.container .image {
  display: block;
  width: 100%;
  height: auto;
}

.container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
