{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {% if form.username.errors %}
            {{ form.username(placeholder="Username") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(placeholder="Username") }}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.password.errors %}
            {{ form.password(placeholder="Password") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(placeholder="Password") }}
            {% endif %}
        </div>
        {{ form.login() }}
    </form>
</div>
{% endblock content %}