<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khan_Shifaul</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Service</a>
            <a href="#">portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    {% block index %} {% endblock index %}
    {% block service %} {% endblock service %}
    {% block portfolio %} {% endblock portfolio %}
    {% block expertise %} {% endblock expertise %}

</body>
</html>